


.product-size{
    width: 200px  
      
    
}

/* .product-size img{
    justify-content: center;
    
}
     */

.cart-icon{
    width: 25px;
    
}

.icone-size{
    width: 120px;
}



.image-size{
    width: 500px;
}